.header {
  position: relative;

  .imgs{
    position: relative;
    width: 100%;
  }

  &__nav{
    height: 108px;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.702);
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.3);
    position: absolute;
    font-family: Open Sans Regular;

    &-menu{


      ul{
        height: 108px;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        li{

          :hover{
            border-bottom: $d-color solid 2px;
          }

          a{
            color: #000;
            text-transform: uppercase;
            font-size: 20px;
            font-family: Istok Web Regular;

          }

          img{
            display: flex;
            align-items: center;
            width: 30px;
            height: 30px;
            margin: 0 auto 13px;

          }
        }
      }
    }

    &-contacts{
      display: flex;
      justify-content: space-between;

      p {
        font-size: 22px;
      }


      &-call{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 13px;

        &-img{
          width: 40px;
          height: 40px;
        }

        &-phone{
          padding-top: 10px;
        }
      }

      &-address{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 13px;

        &-img{
          width: 40px;
          height: 40px;
        }

        &-adds {

        }
      }
    }
  }

  &__top{
    position: absolute;
    left: 0;
    right: 0;
    top: 140px;

    &-content{
      display: flex;
      justify-content: center;

     .photo{
       width: 500px;
       margin-right: 150px;

       img{
         width: 500px;
       }
     }

      .text{
        width: 500px;
        color: $d-color;

        p {

          .alf{
            font-size: 60px;
          }

          .of {
            font-size: 30px;
          }
        }
      }
    }
  }

  &__form{
    position: relative;

    &-request{
      height: 210px;
      background-color: rgba(0, 80, 200, 0.6);
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      right: 0;
      color:#ffffff;
      text-align: center;
      //font-family: 'Open Sans Regular';
      
      &_connect {
        padding: 27px 0 0;
        color: #fff;
        font-size: 20px;
      }

      &-contact {
        display: flex;
        justify-content: center;
        padding: 22px 0 0;

        &_name {
          margin: 0 15px;
          height: 35px;
          width: 262px;
          border: #fff solid 1px;

          P {
            font-size: 18px;
            padding: 7px;
            text-align: left;
          }
        }

        &_send {
          margin: 0 15px;
          height: 35px;
          width: 262px;
          background-color: $d-color;

          P {
            font-size: 18px;
            text-transform: uppercase;
            padding: 8px 0;
          }
        }
      }
    }
  }
}





@media screen
and (min-width: 1200px){
}



