.main {

  .choice {

    &__img {


    }
  }

  #info{
    .container{
      max-width: 1440px;
    }
  }

  .info {

    .row{
      height: 230px;
      margin-bottom: 20px;
    }

    .standart-title{
      padding-bottom: 100px;
      text-align: center;
      text-transform: uppercase;
    }

    .row_left {
      justify-content: flex-start;

      .info__block{

        &:first-child{
          align-self: flex-start;
        }

        &:last-child{
          align-self: flex-end;
        }
      }
    }

    .row_right {
      justify-content: flex-end;

      .info__block{

        &:first-child{
          align-self: flex-end;
        }

        &:last-child{
          align-self: flex-start;
        }
      }
    }

    .row_last{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 370px;

      .info__block{

        &:first-child{
          align-self: flex-start;
        }

        &:last-child{
          align-self: flex-end;
        }
      }

    }

    &__block{
      position: relative;

      img{
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -100px;

      }

      &-box-right {
        height: 105px;
        width: 450px;
        border: $d-color solid 1px;
        max-width: 100%;
        position: relative;

        &::after{
          display: block;
          content: '';
          width: calc(100% + 30px);
          height: 9px;
          background-color: $de-color;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          position: absolute;
          left: -1px;
          top: -9px;
          max-width: none;
        }


        p{
          font-size: 20px;
          text-transform: uppercase;
          text-align: center;
          align-items: center;
          background-color: red;
        }
      }

      &-box-left {
        height: 105px;
        width: 450px;
        border: $d-color solid 1px;
        max-width: 100%;
        position: relative;

        &::before{
          display: block;
          content: '';
          width: calc(50px + 100%);
          height: 9px;
          background-color: red;//$de-color;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          position: absolute;
          left: -1px;
          top: -9px;
          max-width: none;
        }


        p{
          font-size: 20px;
          text-transform: uppercase;
          text-align: center;
          align-items: center;
        }
      }
    }
  }

  .about{

    .standart-title{
      margin-bottom: 15px;
    }
  }

  .packages {

    .standart {
      display: flex;
      justify-content: center;

      .blue {
        width: 50%;
        padding: 0 30px;
        font-size: 16px;
        display: flex;
        align-items: center;

      }

      .blue {
        color: #fff;
        background-color: $de-color;
      }


      &__blue-1 {
        display: flex;


      }

      &__blue-2 {
        display: flex;
        align-self: flex-end;
        justify-content: flex-end;
        min-height: 249px;

      }

      &__white_1 {
        width: 50%;
        min-height: 151px;
        align-items: center;
        position: relative;
        display: flex;

        .include {
          background-color: #fff;
          color: #000;
        }

        > img {
          position: absolute;
          left: 17%;
          top: 50%;
          transform: translateY(-50%);
        }

        .prog {
          position: absolute;
          left: 165px;
          top: 10px;
          width: 100%;

          .top {
            position: absolute;
            left: 0;
            top: 0;
            width: 270px;
            line-height: 1.3;
          }

          &__photo{
            position: absolute;
            left: -40px;
            top: 18px;
          }
        }


        .base {
          position: absolute;
          left: 165px;
          top: 55px;
          width: 100%;

          .top {
            position: absolute;
            left: 0;
            top: 0;
            width: 270px;
            line-height: 1.3;
          }

          &__photo{
            position: absolute;
            left: -20px;
            top: 18px;
          }
        }

        .norm {
          position: absolute;
          left: 165px;
          top: 100px;
          width: 100%;

          .top {
            position: absolute;
            left: 0;
            top: 0;
            width: 270px;
            line-height: 1.3;
          }

          &__photo{
            position: absolute;
            left: -40px;
            top: 9px;
          }
        }




      }

      &__white_2 {
        width: 50%;

        align-items: center;
        position: relative;
        display: flex;
      }

        p {
          background-color: #fff;
          color: #000;
        }

    }


  }
}